#mainMenu,.calendar th{
    background: #217346 !important;
}
.menu:hover{
    background: #0a6332;
}
.menuCurrent{
    background: #439467;
}
.curModuleLink,
.subMenuItem:hover,
.infoBox,
.highlighted,
.calendar td.selected,
.monthyearselect th
.tooltipsy,
.button:hover,
.headerText2:hover,
.editFormLink:hover,
input[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:hover,
input[type="button"]:hover,
.tab:hover,
a.printReport:active,
.tooltipsy{
    background: #9fd5b7 !important;
}
.infoBox,
.tooltipsy{
    color: #0a6332;
}
a,
.tInfo h1,
#tLogo span{
    color: #217346;
}
.tooltipsy,
.button:hover,
.headerText2:hover,
.editFormLink:hover,
input[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:hover,
input[type="button"]:hover,
.tab:hover,
a.printReport:active,
input:focus,
textarea:focus{
    border: 1px solid #439467 !important;
}